/* Sekcja główna */
h1 {
    text-align: center;
    margin-top: 10px; /* Zmniejszono odstęp od góry */
    font-size: 28px;
    color: #007bff;
}

.training-options {
    display: flex;
    justify-content: center;
    gap: 10px; /* Zmniejszono odstęp między przyciskami */
    margin-top: 20px; /* Zmniejszono odstęp od góry */
}

#training-result {
    margin-top: 10px; /* Zmniejszono odstęp od góry */
    font-size: 18px;
    text-align: center;
}